/* Font importation */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
  font-family: "Roboto", "sans-serif";
  box-sizing: border-box;
  transition: all 0.2s ease;
  overflow-x: hidden;
}

body {
  background-color: #f6f8fc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #141414;
  background-blend-mode: overlay;
}

main {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.content {
  padding: 1rem;

  background-color: #fff;
  height: 100%;
}

.content h1 {
  margin: auto 0;
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 3px rgba(7, 6, 6, 0.656);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 16px;
}

@media screen and (max-width: 992px) {
  main {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100vh;
  }
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    max-height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
